extends layout

block layout-content
    .view
        h1.banner LifeontheReg
        .message
            .title
                h3 here is a h3
                h1 and a following h1
            span.details access some information
        .nav-buttons
            a(href='/user')
                .nav-button to users