doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Welcome to lifeonthereg
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' integrity='sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=' crossorigin='anonymous')
    // Babel
    script(src='https://unpkg.com/babel-standalone@6/babel.min.js')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    // Bulma Version 0.6.0
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css' integrity='sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=' crossorigin='anonymous')
    link(rel='stylesheet' type='text/css' href='style.css')

  body
    include partials/partial_head.pug

    section.hero.is-fullheight.is-default.is-bold
      #header
      .hero-body
        .container.has-text-centered
          .columns.is-vcentered
            .column.is-5
              #slider
                figure
                  //- img(src='https://farm1.staticflickr.com/141/326714287_d219b27e9e_o.jpg' alt='awesome photo')
                  img(src='https://i.imgur.com/ajPe2Bl.jpg' alt='awesome photo')
                  img(src='https://i.imgur.com/dDKgXS2h.jpg' alt='awesome photo')
                  img(src='https://i.imgur.com/KEFUlu0h.jpg' alt='awesome photo')
                  //- img(src='https://i.imgur.com/42k7aAs.jpg' alt='awesome photo')
            .column.is-6.is-offset-1
              h1.title.is-2
                | Howdy, my name is Reggie.
              h2.subtitle.is-4
                br
                | Mostly coding but other things, too.
              br
              p.has-text-centered
                a.button.is-medium.is-info.is-outlined(href='/user')
                  | Contact Me

    include partials/partial_foot.pug

    //- bulma.js exist?
    script(async='' type='text/javascript' src='../js/bulma.js')
    script(type='text/javascript' src='script.js')
