.hero-head
  nav.navbar
    .container
      .navbar-brand
        a.navbar-item(href='index.html')
          // <img src="../images/bulma.png" alt="Logo">
          | Master of my domain.
        span#nav-toggle.navbar-burger.burger(data-target='navbarMenu')
          span
          span
          span
      #navbarMenu.navbar-menu
        .navbar-end
          a.navbar-item(href='index.html')
            | Home
          a.navbar-item(href='portfolio.html')
            | Portfolio
          a.navbar-item(target='_blank' href='https://resume.creddle.io/resume/hcekfysu45i')
            | Resume
          a.navbar-item(href='about.html')
            | About
