doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title It ain't easy being sassy

    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="compiled.css")

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=' crossorigin='anonymous')
  body
    header.header
      .header__bio
          p
            | web goodies
      .slider
        figure
          img.slider--photo(src='https://i.imgur.com/ajPe2Bl.jpg' alt='oakland at sunset')
        figure
          img.slider--photo#test(src='https://i.imgur.com/dDKgXS2h.jpg' alt='abandoned building with fish-eye')
        figure
          img.slider--photo(src='https://i.imgur.com/KEFUlu0h.jpg' alt='sunset from window')

      .arrow__container
        p
          | &harrw;

    .card.about
      figure.about__photo
        img.about__photo--side-head(src="https://i.imgur.com/aMpk0M8l.jpg")

      .card__text--container
        p.card__text
          | Mostly coding, but other things too!

        p.card__text
          | Sailing sunsets and some software samples

    .card.samples
      .card__text--container
        p.card__text
          | Web Samples

      .samples__gallery--container
        .samples__gallery--item
          .samples__gallery--photo-1
        .samples__gallery--item
          .samples__gallery--photo-2
        .samples__gallery--item
          .samples__gallery--photo-3
        .samples__gallery--item
          .samples__gallery--photo-4

    script.
      const slider = $('.slider');
      const header__bio = $('.header__bio');


      slider.mouseover(()=>{
        $('.header__bio').css('opacity', '0')
      });
      slider.mouseout(()=>{
        $('.header__bio').css('opacity', '1')
      });

      header__bio.mouseover(()=>{
        $('.header__bio').css('opacity', '0')
      });
      header__bio.mouseout(()=>{
        $('.header__bio').css('opacity', '1')
      });
