/* main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #f5e4da;
  padding: 3rem;
  box-sizing: border-box; }

.navbar {
  background-color: aqua; }

.header {
  height: 92vh;
  border-radius: 1em;
  opacity: 1;
  position: relative;
  z-index: 1; }
  .header__bio {
    position: absolute;
    top: 10rem;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: 3rem;
    color: #fefedf;
    font-family: 'Montserrat', sans-serif; }
    .header__bio:hover {
      cursor: default; }
    .header__bio:hover + .slider {
      filter: brightness(90%);
      border: solid #ee4ab7 3px;
      animation-play-state: paused; }
  .header .slider {
    height: 100%;
    width: 70%;
    border-radius: .5rem;
    margin: 0 auto;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: black;
    box-sizing: border-box;
    z-index: 5;
    animation: beat 3s infinite; }
    .header .slider:hover {
      filter: brightness(90%);
      border: solid #ee4ab7 3px;
      animation-play-state: paused; }
    .header .slider:hover ~ .arrow__container {
      opacity: 1;
      animation: beat-secondary 2s ease infinite;
      animation-iteration-count: 2; }
    .header .slider--photo {
      height: 100%;
      overflow: scroll; }
      .header .slider--photo:last-child {
        margin-right: 1rem; }
      .header .slider--photo#test {
        margin-left: -8rem;
        margin-right: -7rem; }
  .header .arrow__container {
    color: white;
    font-size: 5rem;
    z-index: 100;
    opacity: 0;
    transition: .2s; }
    .header .arrow__container:hover {
      animation-play-state: paused;
      display: none;
      opacity: 0; }

.card {
  height: 84vh;
  width: 92vw;
  background-image: linear-gradient(to bottom, #3c71aa, #cf3128);
  opacity: .8;
  border-radius: .5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  transform: translateY(10rem);
  margin: 0 auto 12.5rem;
  font-size: 5rem;
  line-height: 7rem;
  text-align: center; }
  .card .card__text--container {
    transform: translateY(-2rem);
    color: #f5e4da; }

.about {
  background-image: url(../img/mast-sunset.jpg);
  background-size: cover; }
  .about__photo {
    opacity: .85;
    transform: translateX(10rem);
    scale: .9; }
    .about__photo--side-head {
      clip-path: ellipse(20rem 45rem at 35% 47%); }

.samples .card__text {
  transform: translateY(2rem); }

.samples__gallery--container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.samples__gallery--item {
  height: 24rem;
  width: 65rem;
  border: solid black 2px;
  z-index: 20; }

.samples__gallery--photo-1 {
  background-image: url(https://i.imgur.com/EfMhxn7.jpg);
  background-size: cover; }

@keyframes beat-secondary {
  0% {
    transform: translateX(97rem) translateY(-10rem);
    opacity: .6; }
  25% {
    transform: translateX(100rem) translateY(-10rem);
    opacity: 1; }
  50% {
    transform: translateX(97rem) translateY(-10rem);
    opacity: .6; }
  75% {
    transform: translateX(100rem) translateY(-10rem);
    opacity: 1; }
  100% {
    transform: translateX(97rem) translateY(-10rem);
    opacity: .6; } }

@keyframes beat {
  0% {
    box-shadow: 0 5rem 15rem rgba(0, 0, 0, 0.6);
    transform: translateY(5px) translateX(5px); }
  40% {
    box-shadow: 0 2rem 11rem rgba(0, 0, 0, 0.4);
    transform: translateY(0) translateX(0); }
  60% {
    box-shadow: 0 5rem 15rem rgba(0, 0, 0, 0.6);
    transform: translateY(5px) translateX(5px); }
  80% {
    box-shadow: 0 2rem 11rem rgba(0, 0, 0, 0.4);
    transform: translateY(0) translateX(0); }
  100% {
    box-shadow: 0 5rem 15rem rgba(0, 0, 0, 0.6);
    transform: translateY(5px) translateX(5px); } }

@keyframes slide {
  0% {
    transform: translateX(0); }
  35% {
    transform: translateX(-103rem); }
  60% {
    transform: translateX(-205rem); }
  65% {
    transform: translateX(-205rem); }
  80% {
    transform: translateX(-105rem); }
  95% {
    transform: translateX(0); } }
