/* main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: white;
  padding: 3rem;
  box-sizing: border-box; }

.header {
  height: 92vh;
  border-radius: 1em;
  opacity: 1;
  position: relative;
  z-index: 1; }
  .header__bio {
    position: absolute;
    top: 10rem;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: 3rem;
    color: white; }
  .header .slider {
    height: 100%;
    width: 70%;
    border-radius: .5rem;
    margin: 0 auto;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: black;
    box-sizing: border-box;
    animation: beat 3s infinite; }
    .header .slider:hover {
      filter: brightness(90%);
      border: solid #ee4ab7 3px; }
    .header .slider--photo {
      height: 100%;
      overflow: scroll; }
      .header .slider--photo:last-child {
        margin-right: 1rem; }
      .header .slider--photo#test {
        margin-left: -8rem;
        margin-right: -7rem; }

.card {
  height: 84vh;
  width: 92vw;
  background-color: #417be7;
  transform: translateY(10rem);
  margin: 0 auto 12.5rem;
  font-size: 8rem;
  line-height: 10rem;
  text-align: center; }
  .card .card__text-container {
    transform: translateY(25rem); }

@keyframes beat {
  0% {
    box-shadow: 0 5rem 15rem rgba(0, 0, 0, 0.6);
    transform: translateY(5px) translateX(5px); }
  40% {
    box-shadow: 0 2rem 11rem rgba(0, 0, 0, 0.6);
    transform: translateY(0) translateX(0); }
  60% {
    box-shadow: 0 5rem 15rem rgba(0, 0, 0, 0.6);
    transform: translateY(5px) translateX(5px); }
  80% {
    box-shadow: 0 2rem 11rem rgba(0, 0, 0, 0.6);
    transform: translateY(0) translateX(0); }
  100% {
    box-shadow: 0 5rem 15rem rgba(0, 0, 0, 0.6);
    transform: translateY(5px) translateX(5px); } }

@keyframes slide {
  0% {
    transform: translateX(0); }
  35% {
    transform: translateX(-103rem); }
  60% {
    transform: translateX(-205rem); }
  65% {
    transform: translateX(-205rem); }
  80% {
    transform: translateX(-105rem); }
  95% {
    transform: translateX(0); } }
